@charset "UTF-8";

.best_container{
	width: 1000px;
	margin: 0 auto;
}
#food_search{
	margin-top:20px;
	width: 1000px;	
}
.container hr{
	margin:0 auto;
	width: 800px;
	color: #e8e8e8;
}
.search_detail{
	margin-top:100px;
}
.search_result{
	margin:0 auto;
	width: 700px;
	margin-left:150px;
}

.search_detail img {
	width:200px;
	height: 200px;
	float:left;
	margin-right:20px;
}

a:visited,a:link {
	color:gray;
	font-size:12px;
	text-decoration: none;
}
#result_name{
	font-size: 20px;
	font-weight: bold;
}
#result_addr{
	font-size:10px;
	display: inline-block;
}
#result_category{
	text-align: right;
	margin-right: 10px;
}
.search_result a:hover{
	text-decoration: none;
	font-style: none;
	color:gray;
	filter:blur(1px);
}

a:active {
	text-decoration: none;
}

label:visited,label:link {
	color:black;
	font-size:15px;
	text-decoration: none;
}

label:hover{
	text-decoration: none;
	font-style: none;
}

label:active {
	text-decoration: none;
}

.search_result hr {
	margin:0 auto;
	margin:20px 0;
	width: 500px;
	color: gray;
}

#more {
 	padding:5px;
 	width:150px;
 	background-color: #fa0050;
 	color : white;
 	font-size : 20px;
 	border-style: none;
 	border-radius: 5px;
 	margin-left:45%;
 }