@charset "UTF-8";

	body {
		width: 1000px;
		margin: 0 auto;
		padding:0;
	}
		*{
		margin:0;
		padding:0;
	}
	.img{
	width: 100%;
	}
	.slider img{
		width:500px;
		height: 300px;
	}
	#theme {
		box-sizing: border-box;
		width: 1000px;
		margin-bottom: 30px;
		color: gray;
		
	}
	
	#theme div {
		width: 1000px;
		float: left;
		border: 1px solid gray;
	}
	
	#theme figure {
		float: left;
		width: 150px;
		height: 250px;
		margin: 40px;
		text-align: center;
		border: 1px solid gray;
		color: gray;
	}
	
	#theme > a {
		float:right;
		font-size:20px;
		text-decoration: none;
	}
	
	#theme > a:hover {
		font-size:22px;
		color:#fa0050;
	}
	
	.slider {
		margin-bottom: 30px;
	}
	
	.slider img {
		width: 100%;
		height: 500px;
	}
	
	.bx-wrapper {
		box-shadow: none;
		border: none;
	}
	
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
		bottom: 20px;
		width: 100%;
	}
	
	.figure {
		margin-bottom:40px;
	}
