@charset "UTF-8";
 @media (max-width: 414px) {
 .container{
  width: 320px;
 }
 .name{
width: 60px !important;
font-size: 12px !important;
}
.grade{
font-size: 10px !important;
}
.Balance{
font-size: 30% !important;
}
.point p{
font-size: 70% !important;
 }
.loginimg{
width: 64px !important;
height: 64px !important;
}
}

.menulist{
	display: none;
}
.loginimg{
width: 100px;
height: 100px;
}
.name{
font-size: 200%;
font-weight: bold;
}
.grade{
font-size: 200%;
font-weight: bold;
}
.pointimg{
width: 50%;
height: 50%;
}
.top{
width: 100%;
background-color: #FA0050;
}
.hader{
margin:0 auto;
text-align: center;
display: flex;
justify-content: space-between;
}
.title{
font-weight: bold;
color:white;
padding-left: 3%;
}
.logout > a{
color: white;
}
.logout {
margin-top: 10px;
font-size: 17px;
padding-right: 5%;
width: 100px;
}
.profile{
display: flex;
flex-direction: row;
}
.pointtotal{
display: flex;
justify-content: space-around;
gap: 10%;
width: 50% !important;
}
.total{
display: flex;
justify-content: space-around;
gap: 15%;
}
.point{
display: flex;
flex-direction: column;
padding-top: 60px;
color: white;
}
.point p{
font-size: 100%;
margin-top: 10px;
}
.Balance{
width: 80%;
color: white;
font-size: 100%;
}
#btn_delete,#btn_list_view{
 background-color: #FA0050;	
 color: white;
}
.content_box{

}
