@charset "UTF-8";
	*{
		margin:0;
		padding:0;
	}
	body {
		width: 1000px;
		margin: 0 auto;
	}
	.introduce_container{
		width: 600px;
		margin: 0 auto;
		font-size: 15px;
		border: 1px solid #e8e8e8;
		padding: 20px;
		box-sizing: border-box;
		margin-bottom:50px;
		color:   #454545;
	}
	#introduce_title{
		width: 600px;
		margin: 0 auto;
		margin-top:50px;
		color:   #454545;
	}
	.notice_container{
		width: 1000px;
	}
	.notice_container h3{
		margin:0 auto;
		width: 600px;
		margin-bottom: 20px;
	}
	.notice_container table{
		margin:0 auto;
		width: 600px;
		border: 1px solid #e8e8e8
	}
	.notice_container td{
		width: 500px;
		height:50px;
		padding:10px;
		font-size:12px;
		border-bottom: 1px solid #e8e8e8
	}
	#guide_container{
		width:600px;
		margin:0 auto;
		margin-top: 50px;
		color:   #454545;
	}
	#guide_container h2{
		margin:10px;
		padding: 2px;
	}
	#guide_container p{
		font-size: 12px;
		margin:10px;
	}
	#guide_container hr{
		margin:30px;
	}
	#guide_container img{
		width: 600px;
	}
