@charset "UTF-8";
	
	#board_container{ 
		width: 900px;
		margin: 0 auto;
		margin-top:50px;
		color: #454545;
	}
	#board_container h3{ 
		width: 850px;
		margin:0 auto;
	}
	.table #qna{
		text-align: left;
		margin-left: 10px;
	}
	.table #qna_answer{
		text-align: left;
		padding-left: 30px;
	}
	.table{
		clear:both;
		width:900px;
		margin:20px auto;
		border-collapse: collapse;
	}
	.table th, .table td{
		padding: 10px;
		text-align: center;
		font-size: 12px;
	}
	.table th{
		border-bottom : 2px solid #898989;
	}
	.table th a{
		color: black;
	}
	.table a{
		text-decoration: none;
		color:  #454545;
	}
	.table a:hover{
		color:#b9b9b9;
		font-weight:bold; 
	}
	.table td{
		border-top : 1px solid #747474;
		border-bottom : 1px solid  #747474;
	}
	.table tr:last-child > td {
		border-bottom : 2px solid #898989;
	}
	.qno{
		width: 70px;
		border-right: 1px solid  #747474;
		}
	.qna_title{
		width:400px;	
		border-right: 1px solid  #747474;
		
	}
	.writer{
		width:150px;	
		border-right: 1px solid  #747474;
	}
	.date{
		width:200px;
	}
	.page_bar{
		position:relative;
		text-align: center;
	}
	.page_bar a:link,.page_bar a:visited {
		color: #454545;
		text-decoration: none;
		font-size : 12px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.page_bar a:hover{
		font-weight: bold;
		color:#b9b9b9;
	}
	.btn_writer{
		position:absolute;
		font-weight:bold;
		right:0px;
	}
	#myQna {
		float:right;
		background-color: none;
		border: none;
		margin:5px;
		text-decoration: none;
	}
	#myQna a:link,#myQna a:visited{
		font-weight: bold;
		font-size: 15px;
		
		color: #454545;
	}
	#myQna a:hover{
		text-decoration: none;
		font-weight: bold;
		color:#b9b9b9;
	}
	