@charset "UTF-8";
	
	#board_container{ 
		width: 800px;
		margin: 0 auto;
	}
	#board_container h3{ 
		width: 800px;
		margin:0 auto;
	}
	.board #qna{
		text-align: left;
		margin-left: 10px;
	}
	.board #qna_answer{
		text-align: left;
		padding-left: 30px;
	}
	.board{
		clear:both;
		width:800px;
		margin:20px auto;
		border-collapse: collapse;
	}
	.board th, .board td{
		padding: 10px;
		text-align: center;
		font-size: 12px;
	}
	.board th{
		border-top : 1px solid gray;
		border-bottom : 2px solid gray;
	}
	.board th a{
		color: black;
	}
	.board a{
		text-decoration: none;
		color: black;
	}
	.board a:hover{
		color: gray;
		font-weight:bold; 
	}
	.board td{
		border-top : 1px solid gray;
		border-bottom : 1px solid gray;
	}
	.board tr:last-child > td {
		border-bottom : 2px solid black;
	}
	.qno{
		width: 50px;
		border-right: 1px solid #e8e8e8;
		}
	.qna_title{
		width:400px;	
		border-right: 1px solid #e8e8e8;
		
	}
	.writer{
		width:150px;	
		border-right: 1px solid #e8e8e8;
	}
	.date{
		width:200px;
	}
	.page_bar{
		position:relative;
		text-align: center;
	}
	.page_bar a:link,.page_bar a:visited {
		color:black;
		text-decoration: none;
		font-size : 12px;
		margin-left: 10px;
		margin-right: 10px;
	}
	.page_bar a:hover{
		font-weight: bold;
		color:red;
	}
	.btn_writer{
		position:absolute;
		right:0px;
	}
	#myQna{
		float:right;
		background-color: none;
		border: 1px solid #e8e8e8;
		border-radius: 5px;
		margin:5px;
		text-decoration: none;
		font-weight: bold;
		font-size: 15px;
		color: black;
	}
	