@charset "UTF-8";
	.qna_write_container a{
		text-decoration: none;
		color: black;
	}
	.qna_write_container  h3{
		color: black;
		width: 800px;
		margin-bottom:20px;
		font-size: 20px;
		font-weight: bold;
	}
	.qna_write_container  table{
		width: 600px;
		border: 1px solid #e8e8e8;
		margin: 0 auto;
	}
	.qna_write_container {
		width:800px;
		margin:20px auto;
		border-collapse: collapse;
		font-size: 12px;
	}
	.qna_write_container  button{
		width: 50px;
		height: 30px;
	}
	.qna_write_container th{
		width:100px;
		border-collapse: collapse;
		font-weight: bold;
	}
	.qna_write_container tr{
		margin: 20px;
		border-collapse: collapse;
		height: 50px;
	}
	.qna_write_container  td{
		width:500px;
		border-collapse: collapse;
	}
	.qna_write_container  textarea{
		width:400px;
		height:100px;
		resize: none;		
		border: 1px solid gray;
	}
	.qna_write_container input{
		border:none;
		width:400px;
		height: 30px;
		border-bottom: 1px solid gray;
	}
	.btn{
		text-decoration: none;
		width:100px;
		display:inline-block;
		background-color: #e8e8e8;
		font-weight:normal;
		color : black;
		margin-top:10px;
		margin-right:10px;
		
	}
	.btn:hover{
		background-color: #282828;
		color:#FFFFFF
	}