@charset "UTF-8";
 @media (max-width: 414px) {
 .container{
  width: 320px;
 }
 .btn{
 background-color: #FA0050;
 width: 70px;
 color: white;
 padding: 4px 12px;
 border: none;
 margin-left: 5px;
 font-size: 10px;
 }
}
.container{
  height: 800px;
 }
h1{
 margin-bottom: 30px;	
}
span{
 color: #FA0050;
 font-weight: bold;
 font-size: 15px;
}
.title{
 color:  #FA0050;
}
.dash{
	font-weight: bold;
	color: black;
	margin: 0 85px;
}
.btn{
 background-color: #FA0050;
 width: 90px;
 color: white;
 padding: 4px 12px;
 border: none;
 margin-left: 5px;
 }
.category{
 display:inline-block;
 margin-left: 5px;
 width: 75px;
 text-align: center;
}
#btn_register{
	margin-left: 50px;
}
#btn_cansel,#btn_register{
	margin-top: 100px;
}
.roadAddress,.detailAddress{
	width: 300px;
}
