@charset "UTF-8";
	#container{
		width: 400px;
		margin:0 auto;
		padding: 100px 50%;
		text-align: center;
	}

	form{
		display: inline-block;
		margin-top:100px;
		padding: 30px;
		border: 1px solid black;
		border-radius: 30px;
	}
	@media (max-width:600px){ /*가로 너비가 600px 이하*/
    #container {
    	width: 200px;
		padding: 50%;
		margin:0 auto;
		padding: 100px 50%;
		text-align: center;
	}
}