@charset "UTF-8";
* {
	margin:0;
	padding:0;
	
	}
	
.container {
	border:1px solid black;
	width:700px;
}

.container div {
	margin:10px 0px;
}

img {
	background-color: black;
}
img {
	width:30px;
	height: 30px;
}

#menu {
	display: none;
}

textarea {
	width:500px;
	color:black;
	font-size:20px;
}