@charset "UTF-8";

 * {
 	margin:0;
 	padding:0;
 }
 
 .container {
 	margin: 0 auto;
 	text-align:center;
 	width:900px;
 	font-size:large;
 	margin-top:50px;
 	padding:50px;
 }
 
 h2 {
 	padding:20px 0px;
 	text-align: left;
 }
 
 table {
 	border-collapse:collapse;
 	margin:30px 0px;
 	width:90%;
 }
 
 tr {
 	position: relative;
 }
 
 th {
 	border:1px solid gray;
 	background-color: silver;
 	width:150px;
 	height: 80px;
 }
 td {
 	border:1px solid gray;
 	width:350px;
 	text-align:left;
 	
 }
 
 p {
 	position: relative;
 	left:50px;
 }
 
 pre {
 	position: relative;
 	left:25px;
 	right:25px;
 	top:5px;
 	width:90%;
 }
 
 .must {
 	border:1px solid black;
 	border-radius:10px;
 	margin-bottom:50px;
 	font: bold;
 }
 
 .must button {
 	margin: 0px 20px;
 }
 
 input {
 	display:inline-block;
 	width:80%;
 	padding:5px;
 }
 
 .tel {
 	width:100px;
 }
 
 .add {
 	border:1px solid black;
 	border-radius:10px;
 	margin-bottom:50px;
 }
 
 .container > a {
 	background-color: #FA0050;
 	color:white;
 	border:none;
 	border-radius:15px;
 	font-size:20px;
 	padding:15px;
 	margin-right:80px;
 }
 
 .add span {
 	display: none;
 }
 
 .add img {
 	width:200px;
 	height: 150px;
 }
 
