 @charset "UTF-8";
 @media (max-width: 414px) {

  th:first-child{
  width: 20px !important;
 }
  th:nth-child(2){
  width: 100px !important;
 }
 th:nth-child(3){
  width: 120px !important;
 }
  th:nth-child(4){
   width: 80px !important;
  }
  .btn{
 position: absolute;
 right: 4.8% !important;
 top: 2% !important;
 }

}
 .container{
   position: relative;
  }
  th:first-child{
  width: 5%;
 }
  th:nth-child(2){
  width: 30%;
 }
 th:nth-child(3){
  width: 50% ;
 }
  th:nth-child(4){
   width: 15%;
  }
 table{
  border-collapse: collapse;
 }
 a{
  text-decoration: none;
  color: black;
  }
 tr th{
  font-size: 12px;
 } 
 td:last-child{
 padding-top:0 !important;
 padding-bottom: 5px !important;
 height: 32px !important;
 }
 td{
  vertical-align: middle !important;
 } 
 td:nth-child(1),td:nth-child(2),td:nth-child(4),th:nth-child(1),th:nth-child(2),th:nth-child(4) {
  text-align: center;
}
.delete_check_box{
  text-align: center;
 }
.page_bar{
 text-align: center;
}
.page_bar_items{
 position: relative;
}
.page_bar_items a:hover{
 color:  red;
}
.page_bar_items a{
 display: inline-block;
 padding-top: 7px !important;
 font-size: 15px;
}
.btn{
 position: absolute;
 right: 2%;
 top: 3%;
 background-color: #FA0050;	
 color: white;
}
