<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.mapper.MemberMapper">
	<select id="loginMember" parameterType="map" resultType="member">
		select * from member where member_id=#{id} and member_pass=#{pass}
	</select>
	<select id="selectMemberAddress" parameterType="map" resultType="String">
		select address_text from member_address where address_member_id=#{id} and 
		address_status=#{address_status}
	</select>
	<select id="selectMember" parameterType="String" resultType="String">
	 select member_id from member where member_id=#{id}
	</select>
	<insert id="registerMember" parameterType="team.dto.MemberDTO">
	  insert into member values (#{member_id},#{member_pass},#{member_name},#{member_tel},#{member_grade},#{member_category},#{member_point})
	</insert>
	<insert id="registerMemberAddress" parameterType="team.dto.MemberAddressDTO">
	 insert into member_address values (#{address_Member_Id},#{address_Text},#{address_status})
	</insert>
	<select id="selectUserMessageList" parameterType="map" resultType="team.dto.MessageDTO">
select message_no,message_member_id,message_title,message_content,message_date,message_status from (select ceil(rownum/10) as page,message_no,message_member_id,message_title,message_content,message_date,message_status from (select message_no,message_member_id,message_title,message_content,message_date,message_status  from message where message_member_id=#{id} order by message_status)) where page=#{pageNo} </select>
	<select id="selectUserMessage" parameterType="int" resultType="team.dto.MessageDTO">
	select * from message where message_no=#{no}
	</select>
	<update id="updateMessageStatus" parameterType="map">
	  update message set message_status=1 where message_no=#{no} and message_member_id=#{id} 
	</update>
	<delete id="deleteMessage" parameterType="map">
	  delete from message where message_no=#{no} and message_member_id=#{id}
	</delete>
	<select id="selectMessageCount" parameterType="String" resultType="int">
	 select count(*) from message where message_member_id=#{id}
	</select>
	<update id="memberUpdateAction" parameterType="team.dto.MemberDTO">
	update member set member_name=#{member_name},member_tel=#{member_tel},member_category=#{member_category} where member_id=#{member_id}
	</update>
	<select id="selectMemberAllAddress" parameterType="String" resultType="team.dto.MemberAddressDTO">
	   select * from member_address where address_member_id=#{id} 
	</select>
	<delete id="deleteMemberAddress" parameterType="map">
	   delete from member_address where address_text=#{address} and address_member_id=#{id} and address_status not in(1)
	</delete>
		<update id="choiceMemberAddress" parameterType="map">
	   update member_address set address_status = 1 where address_text=#{address} and address_member_id=#{id}
	</update>
	<update id="notChoiceMemberAddress" parameterType="map">
	   update member_address set address_status = 0 where address_text not in(#{address}) and address_member_id=#{id}
	</update>
	<select id="selectMemeberAddressCheck" parameterType="map" resultType="String">
	  select address_text from member_address where address_text=#{address} and address_member_id=#{id}
	</select>
	<select id="selectMemberPassCheck" parameterType="map" resultType="team.dto.MemberDTO">
	   select * from member where member_id=#{id} and member_pass=#{pass}
	</select>
	<update id="updateMemberPass" parameterType="map">
	 update member set member_pass=#{pass} where member_id=#{id}
	</update>
	<insert id="adminNoticeWrite" parameterType="map">
	  insert into notice values (notice_no_seq.nextval,#{title},#{content},sysdate)
	</insert>
	<select id="selectAllNotice" resultType="team.dto.NoticeDTO">
	  select * from notice
	</select>
	<select id="selectNotice" parameterType="int" resultType="team.dto.NoticeDTO">
	 select * from notice where notice_no=#{notice_no}
	</select>
	<insert id="registerReview" parameterType="review">
		INSERT INTO review(review_id,review_member_id,review_store_id,review_content,review_score_service,review_score_price,review_menu_no,review_score_menu,review_photo) VALUES(#{review_id},#{review_member_id},#{review_store_id},#{review_content},#{review_score_service},#{review_score_price},#{review_menu_no},#{review_score_menu},#{review_photo})
	</insert>
</mapper>
