<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.mapper.MemberMapper">
	<select id="loginMember" parameterType="map"
		resultType="team.dto.MemberDTO">
		select * from member where member_id=#{id} and member_pass=#{pass}
	</select>
	<select id="selectAddress" parameterType="map"
		resultType="String">
		select address_text from member_address where address_member_id=#{id} and
		address_no=#{addressNo}
	</select>
</mapper>
