<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team.mapper.StoreMapper">
	<insert id="storeRegister" parameterType="store">
		INSERT INTO store VALUES (#{store_id},#{store_name},#{store_addr},#{store_license},#{store_member_id},#{store_time},#{store_introduce},#{store_tel},#{store_category},#{store_code},#{store_file})
	</insert>
	
	<select id="selectStoreDTO" parameterType="String" resultType="store">
		SELECT s.*,(SELECT category_name FROM category where category_no = s.store_category) category_name FROM store s WHERE store_id = #{store_id}
	</select>
	
	<update id="updateStoreCode" parameterType="HashMap">
		UPDATE store SET store_code=#{store_code} WHERE store_id=#{store_id}
	</update>
	
	<delete id="deleteStoreDTO" parameterType="String">
		DELETE FROM store WHERE store_id=#{store_id}
	</delete>
</mapper>